


header{ margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
      margin-right: 5%;
      font-size: 1.5rem;
}

nav{
    display: flex;
    gap: 50px;
}
 .fresh-flower{
    margin-top: 20%;
    display: flex;
    justify-content: flex-end;
    
 }

 .left
 {
width: 50%;


 }
 .right
 { width: 50%;
    display: flex;
    justify-content: flex-end;
 }

 .cards
 { width: 100%;
    display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 2%;
 }


 img{
    width: 100%;
    
 }
 #one{
    height: 10%;
    width: 10%;
 }
p{
    font-size: 1.5rem;
}
h1{
    font-size: 4rem;

}

h2{
    font-size: 3rem;
}

.our-plants
{
    display: block;
    text-align: center;
}

.btn
{
    background-color:  #E95A08;
    color: white;
    border: none;
    height: 10%;
    width: 100%;
}
.image
{
    margin-left: 5%;
    margin-right: 5%;
}

.spc
{
    position: absolute;


    z-index: 10;
    width: 40%;
    bottom: 65%;
    left: 73%;
  
   
  
   
   

}


.lover
{
    width: 92vw;
    display: flex;
    margin-top: 40%;
    height: 50vh; 

   
}
.men
{width: 50%;
position: relative;
overflow: visible;}

.txt
{
   width:50%;
   font-size: small;
   
   
}

body{
    margin-left: 5%;
    margin-right: 5%;
}



.deals{
    text-align: center;
    margin-top: 10%;
}


.design
{width: 100%;
    display: flex;
    gap: 2%;
}

.first
{display: grid;
    width: 35.32%;
    gap: 2%;
  position: relative;
text-align: center;
color: white;

}

.dimg, .dimg1
{position: relative;
    border-radius: 20px;
  filter: brightness(60%);
}


.first img{
    height: 90%;
width: 100%;
    
}
.text
{
    position: absolute;
top: 22.5%;
left: 29%;
font-size: large;
}


.text1
{
    position: absolute;
top: 72.5%;
left: 30%;
font-size: large;
}

.second
{
    position: relative;
    text-align: center;
color: white;
}

.text2
{
 position: absolute;
top: 42.5%;
left: 32%;
font-size: xx-large;


}


input[type="email"] {
  border: none;
 
  padding: 2%;
  width: 400px;
}

input[type="email"]:focus {
  outline: none;
}

input[type="submit"] {
  border: none;
 
  padding: 2%;
background-color: #E95A08;
width: 0100px;
color: white;
}

input[type="submit"]:focus {
  outline: none;
}

.colorful
{
    display: grid;

  background-image: url('asset/news-letter-bg.png');
  

  height: 500px;

align-items: center;
margin-top: 10%;
place-items: center;
 
 
}

.colorful h2{
    margin-top:0%;
    color: white;
}
.class2
{
    display: flex;
    margin-bottom: 15%;
}

.class1
{
    margin-top: 20%;
}
footer
{width: 93%;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 10%;
 
}

.div2
{ 
    display: inline-block;
}

.div1 {width:30% ;
 
}

.div1 img{

    width: 40%;

}

.div4 img{
    width: 30%;

    
}

.div2, .div3
{
    margin-top: 0%;

}

.div4{
    margin-right: 10%;
    display: flex;
    height: 10%;
    gap: 20%;
}